<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title version="1.0">About - cbsconcord</title>
    <link rel="apple-touch-icon" href="../public/logo1500.png">
    <link rel="icon" href="../public/favicon.ico" sizes="192x192">
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/fonts/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/off-canvas.css" />
    <link rel="stylesheet" href="https://thedriftmedia.com/assets/css/rsmenu-main.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/rs-spacing.css" />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <link rel="stylesheet" type="text/css" href="../public/App.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/responsive.css" />
    <link rel="alternate" type="application/rss+xml" title="cbsconcord » Feed" href="https://cbsconcord2025.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="cbsconcord » Comments Feed"
        href="https://cbsconcord2025.com/comments/feed/">
</head>

<body class="defult-home">

    <div id="loader" class="loader">
        <div class="loader-container"></div>
    </div>

    <span id="header">
        <%= header %>
    </span>

    <!-- About Section Start -->
    <div class="rs-services main-home pt-120 pb-120 md-pt-70 md-pb-70">
        <div class="container">
            <div class="sec-title2 text-center mb-45">
                <h2 class="title">
                    About Us
                </h2>
                <div class="heading-line"></div>
            </div>
            <div class="elementor-element elementor-element-6b1874c e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent e-lazyloaded"
                data-id="6b1874c" data-element_type="container"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="e-con-inner">
                    <div class="elementor-element elementor-element-7d14d1a e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                        data-id="7d14d1a" data-element_type="container">
                        <div class="elementor-element elementor-element-8b0ee63 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-id="8b0ee63" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">


                                    <div class="elementor-icon-box-content">

                                        <h4 class="elementor-icon-box-title">
                                            <span>
                                                Unite the spectrum </span>
                                        </h4>

                                        <p class="elementor-icon-box-description">
                                            As the Phoenix resurrects for the 42nd time, the oldest fest in
                                            Kolkata-Concord returns again, with its theme “Unite the spectrum.” Amidst a
                                            fragmented world, blinded by hatred, Concord 2024 is a celebration of
                                            youth’s dynamic energy and their burning passion. Synonymous to its theme,
                                            Concord 2024 offers a myriad of events for students with diverse interests
                                            from budding artists, debaters, to zealous entrepreneurs, and beyond.
                                            Concord 2024 is more than just a fest, it is a call.
                                        </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-ba4d8c9 elementor-widget elementor-widget-text-editor"
                            data-id="ba4d8c9" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>It is a call to unite the youth, a call to eradicate every splinter of differences
                                    between them and create a tolerant atmosphere where students with varied talents can
                                    nourish and grow together and hence contribute to a brighter tomorrow. Concord 2024
                                    is a confluence for the diverse hues of a spectrum. We aim to embrace every shade of
                                    the spectrum and celebrate them. Hence be there to witness, the plethora of
                                    diversity and the harmonious amalgamation of young minds as vibrant
                                    as&nbsp;the&nbsp;“spectrum”.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-4e4dee6 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                        data-id="4e4dee6" data-element_type="container">
                        <div class="elementor-element elementor-element-06af751 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-id="06af751" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">


                                    <div class="elementor-icon-box-content">

                                        <h4 class="elementor-icon-box-title">
                                            <span>
                                                Relight. Revive. Relive. </span>
                                        </h4>

                                        <p class="elementor-icon-box-description">
                                            The ashes of the Phoenix smolder as the stage is all set yet again for
                                            Concord 2024. The ever lightened torch of endless legacy is all set to burn
                                            with its glorious flames across the horizon of the city of joy. As we
                                            “Relight” the torch of glory, the Phoenix waits to get ablaze in the flames
                                            and “Revive” once again. The Phoenix is all set to soar across the horizons,
                                            redefine its limits, and rise higher than ever before. </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-19a034a elementor-widget elementor-widget-text-editor"
                            data-id="19a034a" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>The Phoenix stands symbolic of the flame of the countless students of Calcutta Boys’
                                    School who come together every year to make Concord a grand success. The flame burns
                                    in the heart of every CBSite throughout the year to ultimately shine bright at the
                                    most awaited fest of the year, Concord. The oldest fest that has defied every minor
                                    odd for 42 years has returned with its enduring heritage. Hence brace yourselves to
                                    witness and “Relive” the triumphant Phoenix at Concord 2024.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-a50ad57 e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent e-lazyloaded"
                data-id="a50ad57" data-element_type="container"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="e-con-inner">
                    <div class="elementor-element elementor-element-4868f05 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                        data-id="4868f05" data-element_type="container">
                        <div class="elementor-element elementor-element-7d398f2 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-id="7d398f2" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">


                                    <div class="elementor-icon-box-content">

                                        <h4 class="elementor-icon-box-title">
                                            <span>
                                                Concord 2024- A Success story </span>
                                        </h4>

                                        <p class="elementor-icon-box-description">
                                            Concord, a fest of over four decades added a new chapter of resilience,
                                            magnificence and success with its 41st edition. The organising body of the
                                            fest began its work from absolute scratch in the month of March. With every
                                            passing day, their hard work crossed boundaries so as to take Concord to the
                                            pinnacle. With their collective efforts and the prayers of the entire
                                            Calcutta Boys’ School fraternity, Concord 2024 was a resounding success.
                                            Kolkata’s oldest fest lived up to the expectations, eclipsing the formidable
                                            achievements it had set in the preceding years. Participants from 25+
                                            schools gave their heart and soul as they took part in the choicest events.
                                            More than a thousand students took part in 30+ events over the span of 3
                                            days.
                                        </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-978edd4 elementor-widget elementor-widget-text-editor"
                            data-id="978edd4" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>The motto of the fest “Legacy never dies” proved to be true as each and every student
                                    associated with the fest carried the symbolic flame of the Phoenix inside them to
                                    live up to the legacy of Concord. Even though the minor huddles did impede the road,
                                    the students of Calcutta Boys’ School, crossed it all, to raise the banner of
                                    Concord high. Thus, in a nutshell, Concord 2024 was another glorious chapter in the
                                    enduring legacy of the larger than life fest.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-4f3d88a e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                        data-id="4f3d88a" data-element_type="container">
                        <div class="elementor-element elementor-element-b787f18 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-id="b787f18" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">


                                    <div class="elementor-icon-box-content">

                                        <h4 class="elementor-icon-box-title">
                                            <span>
                                                Calcutta Boys’ School- Committed to the youth of the nation </span>
                                        </h4>

                                        <p class="elementor-icon-box-description">
                                            Established in the year 1877 by Bishop James Mills Thoburn, Calcutta boys’
                                            School has always been committed to the budding youth of the nation. Since
                                            then we have travelled a long way. Be it the tumultuous period of the World
                                            Wars or the tense period of partition, the school has stayed a witness to it
                                            all. Calcutta Boys’ School has always carried the unwavering commitment to
                                            its students and the society at large. With Mr. Clifford Hicks, taking on as
                                            Principal of the School, the school began a new era of academic excellence .
                                            Later in 1980's Mr. Alfred Martin, the then Principal of the school noticed
                                            the need for a platform for the expression of talents of the students. </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5e79734 elementor-widget elementor-widget-text-editor"
                            data-id="5e79734" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>Hence in the year 1982, Concord&nbsp; was born, with the then class 12’s being the
                                    lead organisers . Over the years, numerous batches have successfully organised the
                                    Concord thus keeping alive the vision of Sir Alfred Martin. With our current
                                    Principal Mr. Raja McGee, Calcutta Boys’ School has reached even greater
                                    heights.&nbsp;This year we welcome you all to the 42nd chapter&nbsp;of&nbsp;Concord.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Partner Start -->
    <div class="rs-partner pt-80 pb-70">
        <div class="container">
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true"
                data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false"
                data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="2"
                data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3"
                data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2"
                data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5"
                data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096495.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096495.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096496.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096496.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096497.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096497.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096498.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096498.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096499.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096499.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096501.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096501.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096500.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096500.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096502.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096502.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096504.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096504.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096505.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096505.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096507.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096507.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new1.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new2.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new2.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner End -->

    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <%= footer %>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->

    <!-- start Preview Image -->
    <div class="previewImage-back">
        <div class="head">
            <div class="btn icons back-icon" onclick="previewImagesClose();"><i class="fa fa-long-arrow-left"></i> Back
            </div>
            <div class="btn-group">
                <div class="btn icons" id="slide-length"></div>
                <div class="btn icons" onclick="zoomOut();"><i class="fa fa-search-minus"></i></div>
                <div class="btn icons" onclick="zoomIn();"><i class="fa fa-search-plus"></i></div>
                <div class="btn icons" onclick="imageIdCopy();"><i class="fa fa-share"></i></div>
            </div>
        </div>
        <div class="image"></div>
        <div class="btn-slide">
            <div class="btn" onclick="leftImage();"><i class="fa fa-arrow-left"></i></div>
            <div class="btn" onclick="rightImage();"><i class="fa fa-arrow-right"></i></div>
        </div>
    </div>
    <!-- End Preview Image -->

    <!-- jquery latest version -->
    <script src="https://thedriftmedia.com/assets/js/jquery.min.js"></script>
    <!-- Bootstrap v4.4.1 js -->
    <script src="https://thedriftmedia.com/assets/js/bootstrap.min.js"></script>
    <!-- Menu js -->
    <script src="https://thedriftmedia.com/assets/js/rsmenu-main.js"></script>
    <!-- op nav js -->
    <script src="https://thedriftmedia.com/assets/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="https://thedriftmedia.com/assets/js/owl.carousel.min.js"></script>
    <!-- wow js -->
    <script src="https://thedriftmedia.com/assets/js/wow.min.js"></script>
    <!-- main js -->
    <script src="https://thedriftmedia.com/assets/js/main.js"></script>

    <script src="https://thedriftmedia.com/js/jquery-3.3.1.min.js"></script>
    <script src="https://thedriftmedia.com/js/popper.min.js"></script>
    <script src="https://thedriftmedia.com/js/bootstrap.min.js"></script>
    <script src="https://thedriftmedia.com/js/main.js"></script>
</body>
<script src="../public/App.js"></script>
<script>
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('rs-footer').innerHTML = document.getElementById('rs-footer').textContent;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>