<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title version="1.0">About - cbsconcord</title>
    <link rel="apple-touch-icon" href="../public/logo1500.png">
    <link rel="icon" href="../public/favicon.ico" sizes="192x192">
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/fonts/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/off-canvas.css" />
    <link rel="stylesheet" href="https://thedriftmedia.com/assets/css/rsmenu-main.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/rs-spacing.css" />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <link rel="stylesheet" type="text/css" href="../public/App.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/responsive.css" />
    <link rel="alternate" type="application/rss+xml" title="cbsconcord » Feed" href="https://cbsconcord2025.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="cbsconcord » Comments Feed"
        href="https://cbsconcord2025.com/comments/feed/">
</head>
<style>
    body{
        /* background-image: none!important; */
    }
    .rs-services .container {
        max-width: 100%;
        max-height: 100%;
        padding: 0px;
        background-image: url('../images/concert.png');
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: 50% 50%; */
    }
    .rs-services .container::before{
        content: '';
        position: absolute;
        width: 100%;
        height: -webkit-fill-available;
        background: #000000ac;
    }

    .elementor-element-6b1874c,
    .elementor-element-a50ad57 {
        /* background: #000; */
        padding: 60px 10px 20px 10px;
        position: relative;
    }

    .e-con.e-flex>.e-con-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .elementor-element-7d14d1a,
        .elementor-element-4e4dee6,
        .elementor-element-4868f05,
        .elementor-element-4f3d88a {
            width: 45%;
            p{
                text-align: justify;
                color: #bfc5ca;
            }
        }
    }

    @media only screen and (max-width: 900px),
    only screen and (min-width: 900px) and (max-width: 1200px) {
        .e-con.e-flex>.e-con-inner {
            flex-direction: column;

            .elementor-element-7d14d1a,
            .elementor-element-4e4dee6,
            .elementor-element-4868f05,
            .elementor-element-4f3d88a {
                width: 100%;
            }
        }
    }
</style>

<body class="defult-home">

    <div id="loader" class="loader">
        <div class="loader-container"></div>
    </div>

    <span id="header">
        <%= header %>
    </span>

    <!-- About Section Start -->
    <div class="rs-services main-home" style="margin-top: 30px;">
        <div class="container">
            <div class="sec-title2 text-center mb-45">
                <h2 class="title">
                    About Us
                </h2>
                <div class="heading-line"></div>
            </div>
            <div class="elementor-element elementor-element-6b1874c e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent e-lazyloaded"
                data-id="6b1874c" data-element_type="container"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="e-con-inner">
                    <div class="elementor-element elementor-element-4f3d88a e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                        data-id="4f3d88a" data-element_type="container">
                        <div class="elementor-element elementor-element-b787f18 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-id="b787f18" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">


                                    <div class="elementor-icon-box-content">

                                        <h4 class="elementor-icon-box-title">
                                            <span>Calcutta Boys’ School - Committed to the Youth of the Nation </span>
                                        </h4>

                                        <p class="elementor-icon-box-description">
                                            At Calcutta Boys' School, Kolkata, a century-old institution of academic
                                            brilliance and holistic development, the spirit of youth empowerment beats
                                            strongly in every corner. Established in the year 1877 by Bishop James Mills
                                            Thoburn, the school has always carried unwavering commitment to its
                                            students and society at large. Later in the 1980s, Mr. Alfred Martin, the
                                            then
                                            Principal of the school noticed the need for a platform for the expression
                                            of
                                            talents of the students. Hence in 1982, Concord was born. With each passing
                                            year, CONCORD evolves, but its purpose remains rooted in the development of
                                            young individuals. In a world facing rapid change and countless challenges,
                                            the
                                            need to empower the youth has never been greater. By investing in their
                                            dreams and providing the right stage, we at CBS believe in lighting the path
                                            for
                                            future leaders, creators, and changemakers. </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-5e79734 elementor-widget elementor-widget-text-editor"
                            data-id="5e79734" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>Under the guidance of our Principal, Mr. Raja McGee, CBS has reached even
                                    greater heights. This year we welcome you all to the 43rd edition of the oldest
                                    inter-school fest, Concord 2025.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-4868f05 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                        data-id="4868f05" data-element_type="container">
                        <div class="elementor-element elementor-element-7d398f2 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-id="7d398f2" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">


                                    <div class="elementor-icon-box-content">

                                        <h4 class="elementor-icon-box-title">
                                            <span>
                                                CONCORD 2024 — A Success Story </span>
                                        </h4>

                                        <p class="elementor-icon-box-description">
                                            The 42nd edition of CONCORD, held from July 3rd to July 5th, 2024, was
                                            nothing short of spectacular. As the longest-running inter-school fest in
                                            Kolkata, CONCORD 2024 truly lived up to its legacy — with enthusiastic
                                            participation from 25+ schools in 35+ events spanning over 3 days.<br>
                                            The energy was electric from day one. From riveting debates to innovative
                                            tech
                                            contests, soulful music to captivating activities, CONCORD 2024 offered a
                                            wide
                                            canvas for students to paint their dreams. The fest became a hub of
                                            creativity
                                            and collaboration, reflecting the vibrancy of Kolkata’s youth.

                                        </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-978edd4 elementor-widget elementor-widget-text-editor"
                            data-id="978edd4" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>Over the three days, the school campus transformed into a cultural carnival
                                    shaped by immense coordination and hard work of the entire CBS fraternity.
                                    The events were marked by meticulous planning, flawless execution, and
                                    spirited involvement by both participants and the organizing committees. A
                                    major highlight was the final day held at Kala Mandir which was marked by anelectric
                                    performance by the Bollywood sensation Laqshay Kapoor which left
                                    the audience spellbound.<br>
                                    However CONCORD 2024 was much more than just performances and prizes.
                                    The motto of the fest “Relight Revive Relive” was a testament to the symbolic
                                    flame of the Phoenix and what young minds can achieve when given the right
                                    platform. It saw the rebirth of extraordinary talents being united to relive the
                                    heritage of the fest once more. Thus all in all, Concord 2024 was a glorious
                                    chapter added to the pages of the eternal legacy of Concord.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-a50ad57 e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent e-lazyloaded"
                data-id="a50ad57" data-element_type="container"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="e-con-inner">
                    <div class="elementor-element elementor-element-4e4dee6 e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                        data-id="4e4dee6" data-element_type="container">
                        <div class="elementor-element elementor-element-06af751 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-id="06af751" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">


                                    <div class="elementor-icon-box-content">

                                        <h4 class="elementor-icon-box-title">
                                            <span>
                                                Tagline of CONCORD 2025 — "Legacy Meets Rebirth" </span>
                                        </h4>

                                        <p class="elementor-icon-box-description">
                                            Every great fest carries a story — of tradition, of evolution, and of dreams
                                            reborn with every new edition. For CONCORD 2025, the platform is all set for
                                            the phoenix to rise again from its ashes. The tagline "Legacy Meets Rebirth"
                                            is
                                            a tribute to the glorious “Legacy” of CONCORD and a celebration of “Rebirth”
                                            that fuels its future.<br>
                                            In its 43rd edition, CONCORD stands tall as Kolkata’s oldest inter-school
                                            fest. It
                                            carries a heritage built on excellence, creativity, and leadership. </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-19a034a elementor-widget elementor-widget-text-editor"
                            data-id="19a034a" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>The tagline is a bridge — between the milestones of the past and the
                                    aspirations of tomorrow. It’s about holding on to values that define us while
                                    fearlessly experimenting and innovating. Whether it's in the choice of events,
                                    the use of technology, or the themes that resonate with contemporary youth —
                                    CONCORD 2025 promises a riveting take on an age-old legacy. So get ready to
                                    witness the Legacy re-written once again and experience the rebirth of the
                                    triumphant Phoenix at Concord 2025.</p>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7d14d1a e-con-full e-flex wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-child"
                        data-id="7d14d1a" data-element_type="container">
                        <div class="elementor-element elementor-element-8b0ee63 elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                            data-id="8b0ee63" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">


                                    <div class="elementor-icon-box-content">

                                        <h4 class="elementor-icon-box-title">
                                            <span>
                                                Theme of CONCORD 2025 — "Rise Beyond Limits"</span>
                                        </h4>

                                        <p class="elementor-icon-box-description">
                                            CONCORD 2025 is more than just a fest — it's a clarion call to break
                                            barriers,
                                            challenge norms, and unlock one's full potential. This year, its theme "Rise
                                            Beyond Limits" embodies the spirit of every young individual who dares to
                                            dream big and reach higher.<br>
                                            In today’s rapidly evolving world, youth face a unique blend of challenges
                                            and
                                            opportunities. However within each challenge lies the seed of growth and
                                            CONCORD 2025 aims to nurture that growth and ignite the fire of passion
                                            among all budding talents.
                                        </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-ba4d8c9 elementor-widget elementor-widget-text-editor"
                            data-id="ba4d8c9" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>"Rise Beyond Limits" is not just a theme. It is a mindset. It urges participants
                                    to go beyond their comfort zones, to test their abilities, and to emerge
                                    stronger, wiser, and more resilient. It’s about courage — the courage to
                                    perform, to express, to lead.<br>
                                    This year’s theme aims to embrace inclusivity and merge the surfeit of
                                    innovative young minds. It reminds us that every student, regardless of
                                    background or skill, has the potential to rise.<br>
                                    Hence as we countdown to CONCORD 2025, “Let’s rise together” — beyond
                                    limits, beyond expectations, and into a future we shape with hope and heart.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Partner Start -->
    <!-- <div class="rs-partner pt-80 pb-70">
        <div class="container">
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true"
                data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false"
                data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="2"
                data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3"
                data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2"
                data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5"
                data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096495.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096495.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096496.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096496.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096497.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096497.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096498.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096498.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096499.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096499.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096501.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096501.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096500.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096500.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096502.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096502.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096504.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096504.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096505.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096505.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096507.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096507.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new1.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new2.png" alt="" />
                            <img class="main-logo"
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new2.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Partner End -->

    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <%= footer %>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->

    <!-- jquery latest version -->
    <script src="https://thedriftmedia.com/assets/js/jquery.min.js"></script>
    <!-- Bootstrap v4.4.1 js -->
    <script src="https://thedriftmedia.com/assets/js/bootstrap.min.js"></script>
    <!-- Menu js -->
    <script src="https://thedriftmedia.com/assets/js/rsmenu-main.js"></script>
    <!-- op nav js -->
    <script src="https://thedriftmedia.com/assets/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="https://thedriftmedia.com/assets/js/owl.carousel.min.js"></script>
    <!-- wow js -->
    <script src="https://thedriftmedia.com/assets/js/wow.min.js"></script>
    <!-- main js -->
    <script src="https://thedriftmedia.com/assets/js/main.js"></script>

    <script src="https://thedriftmedia.com/js/jquery-3.3.1.min.js"></script>
    <script src="https://thedriftmedia.com/js/popper.min.js"></script>
    <script src="https://thedriftmedia.com/js/bootstrap.min.js"></script>
    <script src="https://thedriftmedia.com/js/main.js"></script>
</body>
<script src="../public/App.js"></script>
<script>
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('rs-footer').innerHTML = document.getElementById('rs-footer').textContent;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>