<div class="container">
    <div class="sec-title2 text-center mb-45">
        <h2 class="title">
            Event Time line
        </h2>
        <div class="heading-line"></div>
    </div>
    <div class="elementor-element elementor-element-5383598 e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent e-lazyloaded"
        data-id="5383598" data-element_type="container">
        <div class="e-con-inner">
            <div class="elementor-element elementor-element-3a0a24d elementor-widget elementor-widget-accordion"
                data-id="3a0a24d" data-element_type="widget" data-widget_type="accordion.default">
                <div class="elementor-widget-container">
                    <div class="elementor-accordion">
                        <div class="elementor-accordion-item" id="event-day-1" style="margin-bottom: 20px;">
                            <div id="elementor-tab-title-6081" onclick="unfoldeEvent(1);route('/#event-day-1');"
                                class="elementor-tab-title elementor-active" data-tab="1" role="button"
                                aria-controls="elementor-tab-content-6081" aria-expanded="true" tabindex="0"
                                aria-selected="true">
                                <a class="elementor-accordion-title" tabindex="0">Day 1 (8th July, 2025)</a>
                            </div>
                            <div id="elementor-tab-content-6081"
                                class="elementor-tab-content elementor-clearfix elementor-active" data-tab="1"
                                role="region" aria-labelledby="elementor-tab-title-6081" style="display: block;">
                                <p>Event: Registration</p>
                                <ul>
                                    <li>Time: 08:00AM to 09:00AM</li>
                                    <li>Venue: Reception</li>
                                    <li>Teacher in Charge: Mrs. M. Chatterjee; Mrs. N. Arora; Mr. S. Dasgupta; Mr.
                                        Saptarshi Mukherjee; Mr. A. Chatterjee; Mr. C.P. Dubey; Mr. N. Ray; Mr. R.K. Pal
                                    </li>
                                    <li>Student in Charge: <a href="tel:+91 9830538482">Shumais Saha</a>; <a
                                            href="tel:+91 7003952091">Samrat Das</a></li>
                                </ul>
                                <hr>
                                <p>Event: Basketball Registration</p>
                                <ul>
                                    <li>Time: 08:00AM to 09:00AM</li>
                                    <li>Venue: Reception</li>
                                    <li>Teacher in Charge: Mr. D Osta; Mr. S Das</li>
                                    <li>Student in Charge: <a href="tel:+91 6289110286">Pavitra Agrahari</a></li>
                                </ul>
                                <hr>
                                <p style="text-align: center; font-weight: bold;">On-stage events</p>
                                <hr>
                                <p>Event: Inauguration Ceremony</p>
                                <ul>
                                    <li>Time: 09:00AM to 10:30AM</li>
                                    <li>Venue: Chapel Hall</li>
                                    <li>Teacher in Charge: Mr. R Halder; Ms. L. Allen</li>
                                    <li>Student in Charge: <a href="tel:+91 8697349859">Mahir Khan</a></li>
                                </ul>
                                <hr>
                                <p>Event: Acoustic Event</p>
                                <ul>
                                    <li>Time: 11:00AM to 12:30PM</li>
                                    <li>Venue: Chapel Hall</li>
                                    <li>Teacher in Charge: Mr. H J Able; Mr. S. Maity</li>
                                    <li>Student in Charge: <a href="tel:+91 9830538482">Shumais Saha</a>; <a
                                            href="tel:+91 6290481433">Hamdan Ahmed</a></li>
                                </ul>
                                <hr>
                                <p>Event: Fan Fiction Drama</p>
                                <ul>
                                    <li>Time: 01:00PM to 03:30PM</li>
                                    <li>Venue: Chapel Hall</li>
                                    <li>Teacher in Charge: Mr. D Samaddar; Mrs. Ankita Laha</li>
                                    <li>Student in Charge: <a href="tel:+91 7003952091">Samrat Das</a>; <a
                                            href="tel:+91 7439918443">Hemang Mishra</a></li>
                                </ul>
                                <hr>
                                <p style="text-align: center; font-weight: bold;">Off-stage events</p>
                                <hr>
                                <p>Event: Pretentious Movie Review</p>
                                <ul>
                                    <li>Time: 10:00AM to 12:00PM</li>
                                    <li>Venue: Lounge</li>
                                    <li>Teacher in Charge: Mrs. M Ghosh; Mr. C Lewis</li>
                                    <li>Student in Charge: <a href="tel:+91 8336968272">Rehan Reza</a></li>
                                </ul>
                                <hr>
                                <p>Event: Robotics</p>
                                <ul>
                                    <li>Time: 10:00AM to 12:00PM</li>
                                    <li>Venue: Physics Lab</li>
                                    <li>Teacher in Charge: Mrs. S. Samadder; Mr. S Chakraborty</li>
                                    <li>Student in Charge: <a href="tel:+91 7595026643">Shaunak Banerjee</a></li>
                                </ul>
                                <hr>
                                <p>Event: Poster Making</p>
                                <ul>
                                    <li>Time: 10:00AM to 12:30PM</li>
                                    <li>Venue: VIII B</li>
                                    <li>Teacher in Charge: Mrs. C. Rebeiro; Mrs. B. Das</li>
                                    <li>Student in Charge: <a href="tel:+91 8637809830">Rishav Banerjee</a></li>
                                </ul>
                                <hr>
                                <p>Event: Quiz Prelims</p>
                                <ul>
                                    <li>Time: 10:00AM to 12:00PM</li>
                                    <li>Venue: XI Commerce</li>
                                    <li>Teacher in Charge: Mr. U Lahiri; Mr. M. Biswas</li>
                                    <li>Student in Charge: <a href="tel:+91 8420306280">Ahan Manna</a></li>
                                </ul>
                                <hr>
                                <p>Event: Dance Face-off</p>
                                <ul>
                                    <li>Time: 10:00AM to 12:00PM</li>
                                    <li>Venue: X A</li>
                                    <li>Teacher in Charge: Mr. V. Williams; Mr. Bearder</li>
                                    <li>Student in Charge: <a href="tel:+91 9836804373">Saatvik Yagnik</a></li>
                                </ul>
                                <hr>
                                <p>Event: Console Gaming</p>
                                <ul>
                                    <li>Time: 12:00PM to 02:00PM</li>
                                    <li>Venue: VIII C</li>
                                    <li>Teacher in Charge: Mr. N.P. Augustine; Mr. B. J. Phillips</li>
                                    <li>Student in Charge: <a href="tel:+91 9874244242">Mubashir Ahmed</a></li>
                                </ul>
                                <hr>
                                <p>Event: Multimedia Videography</p>
                                <ul>
                                    <li>Time: 02:00PM to 03:00PM</li>
                                    <li>Venue: VIII B</li>
                                    <li>Teacher in Charge: Mr. A Das; Mr. D Gomes</li>
                                    <li>Student in Charge: <a href="tel:+91 6290481433">Hamdan Ahmed</a></li>
                                </ul>
                                <hr>
                                <p>Event: Squid Game</p>
                                <ul>
                                    <li>Time: 10:00PM to 03:00PM</li>
                                    <li>Venue: X D</li>
                                    <li>Teacher in Charge: Mr. V Pote; Mrs. P. Shah</li>
                                    <li>Student in Charge: <a href="tel:+91 9051988108">Vaibhav Baid</a></li>
                                </ul>
                                <hr>
                                <p>Event: Quiz Finals</p>
                                <ul>
                                    <li>Time: 01:30PM to 03:00PM</li>
                                    <li>Venue: Lounge</li>
                                    <li>Teacher in Charge: Mr. U Lahiri; Mr. M. Biswas</li>
                                    <li>Student in Charge: <a href="tel:+91 6290868447">Mayukh Barman</a></li>
                                </ul>
                                <hr>
                                <p style="text-align: center; font-weight: bold;">Field events</p>
                                <hr>
                                <p>Event: Basketball</p>
                                <ul>
                                    <li>Time: 09:00AM to 02:00PM</li>
                                    <li>Venue: Basketball Court</li>
                                    <li>Teacher in Charge: Mr. D Osta; Mr. S Das</li>
                                    <li>Student in Charge: <a href="tel:+91 6289110286">Pavitra Agrahari</a>; <a
                                            href="tel:+91 9674152855">Rajdeep Aich</a></li>
                                </ul>
                                <hr>
                                <p>Event: Tug of War (Girls)</p>
                                <ul>
                                    <li>Time: 12:00PM to 01:30PM</li>
                                    <li>Venue: Field</li>
                                    <li>Teacher in Charge: Mrs. D. Mukherjee; Mrs. M. Mondal</li>
                                    <li>Student in Charge: <a href="tel:+91 6290868447">Mayukh Barman</a></li>
                                </ul>
                                <hr>
                                <p>Event: Tug of War (Boys)</p>
                                <ul>
                                    <li>Time: 02:30PM to 04:00PM</li>
                                    <li>Venue: Field</li>
                                    <li>Teacher in Charge: Mr. S. Mondal; Mr. H. Mondal</li>
                                    <li>Student in Charge: <a href="tel:+91 8910049362">Arhant Mitra</a></li>
                                </ul>
                                <hr>
                                <p style="text-align: center; font-weight: bold;">Online events</p>
                                <hr>
                                <p>Event: Valorant</p>
                                <ul>
                                    <li>Time: 12:00PM to 02:00PM</li>
                                    <li>Venue: Discord</li>
                                    <li>Teacher in Charge: Mr. V. Pote</li>
                                    <li>Student in Charge: <a href="tel:+91 6291230988">Ayush Bagchi</a></li>
                                </ul>
                                <hr>
                                <p>Event: Debate</p>
                                <ul>
                                    <li>Time: 12:00PM to 02:00PM</li>
                                    <li>Venue: Sr Computer Lab</li>
                                    <li>Teacher in Charge: Mr. S. Bhanja; Ms. S. Dutta</li>
                                    <li>Student in Charge: <a href="tel:+91 8777856019">Ishan Mitra</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="elementor-accordion-item" id="event-day-2" style="margin-bottom: 20px;">
                            <div id="elementor-tab-title-6082" onclick="unfoldeEvent(2);route('/#event-day-2');"
                                class="elementor-tab-title" data-tab="2" role="button"
                                aria-controls="elementor-tab-content-6082" aria-expanded="false">
                                <a class="elementor-accordion-title" tabindex="0">Day 2 (9th July, 2025)</a>
                            </div>
                            <div id="elementor-tab-content-6082" class="elementor-tab-content elementor-clearfix"
                                data-tab="2" role="region" aria-labelledby="elementor-tab-title-6082">
                                <p>Event: Registration</p>
                                <ul>
                                    <li>Time: 08:00AM to 09:00AM</li>
                                    <li>Venue: Reception</li>
                                    <li>Teacher in Charge: Same as Day 1</li>
                                    <li>Student in Charge: <a href="tel:+91 9830538482">Shumais Saha</a>;
                                        <a href="tel:+91 7003952091">Samrat Das</a>;
                                        <a href="tel:+91 6289110286">Pavitra Agrahari</a>
                                    </li>
                                </ul>
                                <hr>
                                <p>Event: Football Registration</p>
                                <ul>
                                    <li>Time: 08:30AM to 09:00AM</li>
                                    <li>Venue: Reception</li>
                                    <li>Teacher in Charge: Mr. D Osta; Mr. S Das</li>
                                    <li>Student in Charge: <a href="tel:+91 8017123465">Abyaaz Ehtesham</a></li>
                                </ul>
                                <hr>
                                <p style="text-align: center; font-weight: bold;">On-stage events</p>
                                <hr>
                                <p>Event: Antakshari</p>
                                <ul>
                                    <li>Time: 09:00AM to 11:00AM</li>
                                    <li>Venue: Chapel Hall</li>
                                    <li>Teacher in Charge: Mrs. M. Chakraborty; Ms. P. Malik</li>
                                    <li>Student in Charge: <a href="tel:+91 7003952091">Samrat Das</a>;
                                        <a href="tel:+91 9073391946">Chirag Chopra</a>
                                    </li>
                                </ul>
                                <hr>
                                <p>Event: Devotional Choir</p>
                                <ul>
                                    <li>Time: 11:00AM to 12:30PM</li>
                                    <li>Venue: Chapel Hall</li>
                                    <li>Teacher in Charge: Mr. H.J. Able; Mr. H. Shah</li>
                                    <li>Student in Charge: <a href="tel:+91 9830538482">Shumais Saha</a>;
                                        <a href="tel:+91 6290481433">Hamdan Ahmed</a>
                                    </li>
                                </ul>
                                <hr>
                                <p>Event: Instrumental</p>
                                <ul>
                                    <li>Time: 12:30PM to 02:00PM</li>
                                    <li>Venue: Chapel Hall</li>
                                    <li>Teacher in Charge: Mr. S. Maity; Mr. B. J. Phillips</li>
                                    <li>Student in Charge: <a href="tel:+91 6289110286">Pavitra Agrahari</a>;
                                        <a href="tel:+91 7439918443">Hemang Mishra</a>
                                    </li>
                                </ul>
                                <hr>
                                <p>Event: Eastern Music</p>
                                <ul>
                                    <li>Time: 02:30PM to 04:00PM</li>
                                    <li>Venue: Chapel Hall</li>
                                    <li>Teacher in Charge: Mrs. M Chatterjee; Mrs. L Banerjee; Mrs. S Majumder</li>
                                    <li>Student in Charge: <a href="tel:+91 9830538482">Shumais Saha</a>;
                                        <a href="tel:+91 9073391946">Chirag Chopra</a>
                                    </li>
                                </ul>
                                <hr>
                                <p style="text-align: center; font-weight: bold;">Off-Stage events</p>
                                <hr>
                                <p>Event: Visual Poetry Slam</p>
                                <ul>
                                    <li>Time: 09:00AM to 11:00AM</li>
                                    <li>Venue: X A</li>
                                    <li>Teacher in Charge: Mrs. F Peters; Mrs. L Sarkar</li>
                                    <li>Student in Charge: <a href="tel:+91 8902276695">Arka Das</a></li>
                                </ul>
                                <hr>
                                <p>Event: IPL Auction</p>
                                <ul>
                                    <li>Time: 10:00AM to 03:00PM</li>
                                    <li>Venue: Lounge</li>
                                    <li>Teacher in Charge: Mr. A. Chatterjee; Mr. T. N. Pandey</li>
                                    <li>Student in Charge: <a href="tel:+91 9836804373">Saatvik Yagnick</a></li>
                                </ul>
                                <hr>
                                <p>Event: Coding Jam</p>
                                <ul>
                                    <li>Time: 10:00AM to 11:30AM</li>
                                    <li>Venue: Computer Lab</li>
                                    <li>Teacher in Charge: Mr. A. Das; Mr. D Gomes</li>
                                    <li>Student in Charge: <a href="tel:+91 6290481433">Hamdan Ahmed</a></li>
                                </ul>
                                <hr>
                                <p>Event: Photography</p>
                                <ul>
                                    <li>Time: 10:00AM to 12:00PM</li>
                                    <li>Venue: VIII A</li>
                                    <li>Teacher in Charge: Mr. H. J. Able; Mr. S. Chakraborty</li>
                                    <li>Student in Charge: <a href="tel:+91 9339784265">Aditya Jaiswal</a></li>
                                </ul>
                                <hr>
                                <p>Event: Terribly Tiny Tales</p>
                                <ul>
                                    <li>Time: 10:00AM to 12:00PM</li>
                                    <li>Venue: X B</li>
                                    <li>Teacher in Charge: Mrs. Liza Mazarello; Ms. G.C. Paul</li>
                                    <li>Student in Charge: <a href="tel:+91 6291048418">Ayushman Banerjee</a></li>
                                </ul>
                                <hr>
                                <p>Event: Moot Court</p>
                                <ul>
                                    <li>Time: 10:00AM to 02:00PM</li>
                                    <li>Venue: Waiting Area - VIII B</li>
                                    <li>Event Judge 1: XI S</li>
                                    <li>Event Judge 2: XI C</li>
                                    <li>Teacher in Charge: Ms. Shreeparna Dutta; Mrs. Rohini Paul</li>
                                    <li>Student in Charge: <a href="tel:+91 8240220309">Kinshuk Trivedi</a>;
                                        <a href="tel:+91 9330561059">Soumyajyoti Dey</a>
                                    </li>
                                </ul>
                                <hr>
                                <p>Event: Graphics Designing</p>
                                <ul>
                                    <li>Time: 11:30AM to 02:00PM</li>
                                    <li>Venue: IX A</li>
                                    <li>Teacher in Charge: Mrs. P. Banerjee; Mrs. F. Peters</li>
                                    <li>Student in Charge: <a href="tel:+91 9330089294">Mukul Verma</a></li>
                                </ul>
                                <hr>
                                <p>Event: Turncoat</p>
                                <ul>
                                    <li>Time: 01:00PM to 03:00PM</li>
                                    <li>Venue: VIII C</li>
                                    <li>Teacher in Charge: Mts. C. Dixit; Mrs. Sanjukta Roy</li>
                                    <li>Student in Charge: <a href="tel:+91 9073391946">Chirag Chopra</a></li>
                                </ul>
                                <hr>
                                <p>Event: Non-Fire Cooking</p>
                                <ul>
                                    <li>Time: 12:00PM to 02:00PM</li>
                                    <li>Venue: VII A</li>
                                    <li>Teacher in Charge: Mrs. A. Davidson; Mrs. A Laha</li>
                                    <li>Student in Charge: <a href="tel:+91 7439674618">Ronav Saha</a></li>
                                </ul>
                                <hr>
                                <p>Event: Comic Strip</p>
                                <ul>
                                    <li>Time: 01:00PM to 03:00PM</li>
                                    <li>Venue: IX B</li>
                                    <li>Teacher in Charge: Mr. A. Tiwari; Mr. S. K. Bari</li>
                                    <li>Student in Charge: <a href="tel:+91 9339784265">Aditya Jaiswal</a></li>
                                </ul>
                                <hr>
                                <p>Event: Blogging Contest</p>
                                <ul>
                                    <li>Time: 11:00AM to 12:00PM</li>
                                    <li>Venue: IX D</li>
                                    <li>Teacher in Charge: Mrs. C. Rebeiro; Mr. J. D’ Nacio</li>
                                    <li>Student in Charge: <a href="tel:+91 9674112854">Ankush Mukherjee</a></li>
                                </ul>
                                <hr>
                                <p>Event: Chess</p>
                                <ul>
                                    <li>Time: 01:30PM to 03:30PM</li>
                                    <li>Venue: IX C</li>
                                    <li>Teacher in Charge: Mr. S. Dutta; Mr. N. P. Augustine</li>
                                    <li>Student in Charge: <a href="tel:+91 7595026643">Shaunak Banerjee</a></li>
                                </ul>
                                <hr>
                                <p style="text-align: center; font-weight: bold;">Field events</p>
                                <hr>
                                <p>Event: Football</p>
                                <ul>
                                    <li>Time: 09:00AM to 04:00PM</li>
                                    <li>Venue: Field</li>
                                    <li>Teacher in Charge: Mr. S. Mondal; Mr. D.F. Osta; Mr. S. Das</li>
                                    <li>Student in Charge: <a href="tel:+91 6290868447">Mayukh Barman</a>;
                                        <a href="tel:+91 8910049362">Arhant Mitra</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="elementor-accordion-item" id="event-day-3" style="margin-bottom: 20px;">
                            <div id="elementor-tab-title-6083" onclick="unfoldeEvent(3);route('/#event-day-3');"
                                class="elementor-tab-title" data-tab="3" role="button"
                                aria-controls="elementor-tab-content-6083" aria-expanded="false">
                                <a class="elementor-accordion-title" tabindex="0">Day 3 (10th July, 2025)</a>
                            </div>
                            <div id="elementor-tab-content-6083" class="elementor-tab-content elementor-clearfix"
                                data-tab="3" role="region" aria-labelledby="elementor-tab-title-6083">
                                <p>Event: Western Dance</p>
                                <ul>
                                    <li>Time: 10:00AM to 11:30AM</li>
                                    <li>Teacher in Charge: Mr. J Brown; Mr. V Williams; Mr. B Bearder</li>
                                    <li>Student in Charge: <a href="tel:+91 7003952091">Samrat Das</a></li>
                                </ul>
                                <hr>
                                <p>Event: Fashion Show</p>
                                <ul>
                                    <li>Time: 12:00PM to 01:30PM</li>
                                    <li>Teacher in Charge: Mrs. P Banerjee; Mr. V. Pote; Mrs. S Chatterton</li>
                                    <li>Student in Charge: <a href="tel:+91 9830538482">Shumais Saha</a></li>
                                </ul>
                                <hr>
                                <p>Break</p>
                                <ul>
                                    <li>Time: 01:30PM to 03:30PM</li>
                                </ul>
                                <hr>
                                <p>Event: DJ Event</p>
                                <ul>
                                    <li>Time: 03:30PM to 03:45PM</li>
                                    <li>Teacher in Charge: Mr. H. J. Able; Mr. B. Pereira</li>
                                    <li>Student in Charge: <a href="tel:+91 6289110286">Pavitra Agrahari</a></li>
                                </ul>
                                <hr>
                                <p>Event: Western Band</p>
                                <ul>
                                    <li>Time: 03:45PM to 05:30PM</li>
                                    <li>Teacher in Charge: Mrs. M. Rodrigues; Mr. B Pereira</li>
                                    <li>Student in Charge: <a href="tel:+91 7003952091">Samrat Das</a></li>
                                </ul>
                                <hr>
                                <p>Event: Prize Distribution</p>
                                <ul>
                                    <li>Time: 05:30PM to 06:00PM</li>
                                    <li>Teacher in Charge: Ms. L Allen; Mr. R. Halder</li>
                                    <li>Student in Charge: <a href="tel:+91 8697349859">Mahir Khan</a></li>
                                </ul>
                                <hr>
                                <p>Event: Guest Performance</p>
                                <ul>
                                    <li>Time: 06:00PM to 07:00PM</li>
                                    <li>Teacher in Charge: Mr. J. Brown; Mr. U. Lahiri; Mr. S. Dasgupta</li>
                                    <li>Student in Charge: <a href="tel:+91 8697349859">Mahir Khan</a></li>
                                </ul>
                            </div>
                        </div>
                        <script
                            type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"Day 1 (3rd July, 2024)","acceptedAnswer":{"@type":"Answer","text":"<p><strong>Registration:<\/strong> 08:00AM to 09:00AM<\/p><p><strong>Basketball Registration:<\/strong> 08:00AM to 09:00AM<\/p><p>Venue: Reception<\/p><p>Events: On-stage<\/p><ul><li>Inauguration Ceremony (09:00AM to 10:30AM)\u00a0 \u00a0 \u00a0 \u00a0\u00a0<\/li><li>Devotional Choir (11:00AM to 12:30PM)\u00a0 \u00a0<\/li><li>Acoustic Event (01:00PM to 02:30PM)\u00a0<\/li><\/ul><p>Off-stage events<\/p><ul><li>Pretentious Movie Review (10:00AM to 12:00PM)\u00a0<\/li><li>Science Project Making (10:00AM to 12:0PM)<\/li><li>Reel Making (10:00AM to 12:00PM)\u00a0<\/li><li>Quiz Prelims (10:00AM to 12:00PM)<\/li><li>Dance Face-off (10:00AM to 12:00PM)\u00a0<\/li><li>Console gaming (12:00PM to 02:00PM)<\/li><li>Tresure Hunt (12:30PM to 02:00PM)<\/li><li>Non-fire Cooking (12:00PM to 02:00PM)<\/li><li>Quiz Finals (02:00PM to 03:30PM)\u00a0 \u00a0 \u00a0 \u00a0 \u00a0 \u00a0<\/li><\/ul><p>\u00a0 \u00a0 Field events<\/p><ul><li>Basketball (09:00AM to 02:00PM)<\/li><li>Tug of War (Girls) (12:00PM to 01:30PM)<\/li><li>Tug of War (Boys) (02:00PM to 04:00PM)<\/li><\/ul><p>Online events<\/p><ul><li>Debate (10:00AM to 01:00PM)<\/li><li>BGMI (12:00PM to 02:00PM)<\/li><\/ul>"}},{"@type":"Question","name":"Day 2 (4th July, 2024)","acceptedAnswer":{"@type":"Answer","text":"<p><strong>Registration:<\/strong> 08:00AM to 09:00AM<\/p><p><strong>Football Registration:<\/strong> 08:30AM to 09:00AM<\/p><p>Venue: Reception<\/p><p>Events: On-stage<\/p><ul><li>Antakshari (09:00AM to 10:30AM)<\/li><li>Fan Fiction Drama (11:00AM to 01:30AM)<\/li><li>Eastern Music (02:30PM to 04:00PM)<\/li><\/ul><p>Off-Stage events<\/p><ul><li>Visual Poetry Slam (09:00AM to 11:00AM)<\/li><li>Poster Making (10:00AM to 12:30PM)<\/li><li>IPL Auction (10:00AM to 03:00PM)<\/li><li>Coding Jam (10:00AM to 11:30AM)<\/li><li>Photography (10:00AM to 12:00PM)<\/li><li>Terribly Tiny Tales (10:00AM to 12:00PM<\/li><li>Moot Court (10:00AM to 02:00PM)<\/li><li>Rubik&#8217;s Cube (11:00AM to 12:30PM)<\/li><li>Beatboxing (12:00PM to 02:30PM)<\/li><li>Graphics Designing (11:30AM to 02:00PM)<\/li><li>Turn Coat (01:00PM to 03:00PM)<\/li><li>Comic Strip (01:00PM to 03:00PM)<\/li><li>Blogging Contest (11:00AM to 12:00PM)<\/li><li>Chess (01:30PM to 03:30PM)<\/li><\/ul><p>Field events<\/p><ul><li>Football (09:00AM to 04:00PM)<\/li><\/ul>"}},{"@type":"Question","name":"Day 3 (5th July, 2024)","acceptedAnswer":{"@type":"Answer","text":"<p>Venue: Kala Mandir<\/p><p>Events: &#8211;<\/p><ul><li>Wastern Dance (10:00AM to 11:30AM)\u00a0<\/li><li>Fashion Show (12:00PM to 01:30PM)<\/li><\/ul><p>Break<\/p><ul><li>Western Band (03:30PM to 05:00PM)<\/li><li>Prize Distribution (05:30PM to 06:30PM)<\/li><li>Guest Performance (07:00PM to 08:00PM)<\/li><\/ul>"}}]}</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>