
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 footer-widget">
                <div class="footer-logo mb-30">
                    <a href="index.html"><img src="../public/logo1500.png" alt="" style="height: 250px" /></a>
                </div>
                <ul class="footer-social md-mb-30">
                    <li>
                        <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a>
                    </li>
                    <li>
                        <a href="# " target="_blank"><span><i class="fa fa-youtube-play"></i></span></a>
                    </li>
                    <li>
                        <a href="# " target="_blank"><span><i class="fa fa-instagram"></i></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 pl-45 md-pl-15 md-mb-30">
                <h3 class="widget-title">Events</h3>
                <ul class="site-map">
                    <li>
                        <a href="">On-stage event</a>
                    </li>
                    <li><a href="">Off-stage event</a></li>
                    <li>
                        <a href="analytic-solutions">Field event</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 md-mb-30">
                <h3 class="widget-title">Contact Info</h3>
                <ul class="address-widget">
                    <li>
                        <i class="flaticon-email"></i>
                        <div class="desc">
                            <a href="mailto:cbsconcord2025@gmail.com">cbsconcord2025@gmail.com</a>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-call"></i>
                        <div class="desc">
                            <a href="tel:+91 8100340566">Secretary -  Md Mahir Khan (+91 8697349859)</a>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-call"></i>
                        <div class="desc">
                            <a href="tel:+91 8240852652">Treasurer - Naman Jain (+91 8851848637)</a>
                        </div>
                    </li>
                    <li>
                        <i class="flaticon-call"></i>
                        <div class="desc">
                            <a href="tel:+91 8697425141">President - Zidane Khaleeque (+91 8910035569)</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 text-right md-mb-10 order-last">
                <ul class="copy-right-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="sponsors">Sponsors</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="faq">FAQs</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="copyright">
                    <p>
                        &copy; 2025 All Rights Reserved. Develope Partner
                        <a href="https://mockmantra.in/" style="color: #ff7400;">MockMantra.in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
