<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title version="1.0">Gallery - cbsconcord</title>
    <link rel="apple-touch-icon" href="../public/logo1500.png">
    <link rel="icon" href="../public/favicon.ico" sizes="192x192">
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/fonts/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/off-canvas.css" />
    <link rel="stylesheet" href="https://thedriftmedia.com/assets/css/rsmenu-main.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/rs-spacing.css" />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <link rel="stylesheet" type="text/css" href="../public/App.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/responsive.css" />
    <link rel="alternate" type="application/rss+xml" title="cbsconcord » Feed" href="https://cbsconcord2025.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="cbsconcord » Comments Feed" href="https://cbsconcord2025.com/comments/feed/">
</head>
<body class="defult-home">

    <div id="loader" class="loader">
        <div class="loader-container"></div>
    </div>

    <span id="header"><%= header %></span>
    
    <!-- Memories Section Start -->
    <div class="rs-services main-home pt-120 pb-120 md-pt-70 md-pb-70">
        <div class="container">
            <div class="sec-title2 text-center mb-45">
                <h2 class="title">
                    Gallery
                </h2>
                <div class="heading-line"></div>
            </div>
            <div class="image-gallary">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_0003-1-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_0274-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_3685-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_3696-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4242-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4259-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4278-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4487-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4585-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4593-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_0003-1-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_0274-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_3685-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_3696-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4242-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4259-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4278-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4487-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4585-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4593-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_0003-1-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_0274-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_3685-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_3696-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4242-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4259-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4278-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4487-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4585-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4593-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_0003-1-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_0274-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_3685-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_3696-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4242-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4259-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4278-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4487-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4585-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25">
                        <image src="https://cbsconcord2024.com/wp-content/uploads/2024/06/DSC_4593-scaled.jpg" class="previewImage" alt="cbsconcord"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Start -->
    <div class="rs-partner pt-80 pb-70">
        <div class="container">
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true"
                data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false"
                data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="2"
                data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3"
                data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2"
                data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5"
                data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096495.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096495.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096496.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096496.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096497.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096497.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096498.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096498.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096499.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096499.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096501.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096501.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096500.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096500.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096502.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096502.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096504.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096504.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096505.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096505.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096507.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096507.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new1.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new2.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new2.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner End -->

    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <%= footer %>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->

    <!-- start Preview Image -->
    <div class="previewImage-back">
        <%= previewImage %>
    </div>
    <!-- End Preview Image -->

    <!-- jquery latest version -->
    <script src="https://thedriftmedia.com/assets/js/jquery.min.js"></script>
    <!-- Bootstrap v4.4.1 js -->
    <script src="https://thedriftmedia.com/assets/js/bootstrap.min.js"></script>
    <!-- Menu js -->
    <script src="https://thedriftmedia.com/assets/js/rsmenu-main.js"></script>
    <!-- op nav js -->
    <script src="https://thedriftmedia.com/assets/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="https://thedriftmedia.com/assets/js/owl.carousel.min.js"></script>
    <!-- wow js -->
    <script src="https://thedriftmedia.com/assets/js/wow.min.js"></script>
    <!-- main js -->
    <script src="https://thedriftmedia.com/assets/js/main.js"></script>

    <script src="https://thedriftmedia.com/js/jquery-3.3.1.min.js"></script>
    <script src="https://thedriftmedia.com/js/popper.min.js"></script>
    <script src="https://thedriftmedia.com/js/bootstrap.min.js"></script>
    <script src="https://thedriftmedia.com/js/main.js"></script>
</body>
<script src="../public/App.js"></script>
<script>
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('rs-footer').innerHTML = document.getElementById('rs-footer').textContent;
    document.querySelector('.previewImage-back').innerHTML = document.querySelector('.previewImage-back').textContent;
    previewImagesListener();
    const urlParams = new URLSearchParams(window.location.search);
    const searchParam = urlParams.get('imageReview');
    if(searchParam!=null){
	    previewImages((searchParam*1)-1);
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>