<div class="top-nav">
    <div class="logo-part">
        <a href="index.html"><img src="../public/logo1500.png" alt="" class="logo-img mt-2" /></a>
    </div>
    <div class="menu">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
    <div class="menu-close">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</div>


<div class="menu-background"></div>
<div class="menu-panel text-center">
    <div class="menu-links">
        <ul class="list-unstyled components">
            <li>
                <a href="/" >Home</a>
            </li>
            <li>
                <a href="/about" >About</a>
            </li>
            <li>
                <a href="/sponsors" >Our Sponsors</a>
            </li>
            <li>
                <a href="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</div>