<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title version="1.0">Confidential - cbsconcord</title>
    <link rel="apple-touch-icon" href="/public/logo1500.png">
    <link rel="icon" href="/public/favicon.ico" sizes="192x192">
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/fonts/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/off-canvas.css" />
    <link rel="stylesheet" href="https://thedriftmedia.com/assets/css/rsmenu-main.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/rs-spacing.css" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/App.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/responsive.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" />
</head>
<style>
    body{
        background-color: black!important;
    }
    #back{
        display: none;
        width: 100%;
        padding: 4px 10px;
        text-transform: capitalize;
        border-bottom: 2px solid white;
        div{
            width: fit-content;
            cursor: pointer;
        }
    }
    #warning{
        display: none;
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 20%;
        left: 0%;
        z-index: 999999;
    }
    .login-option{
        width: 100%;
        margin: 2% auto 10% auto;
        small{
            display: block;
            width: 70%;
            margin-bottom: 80px;
        }
        .flx{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .card{
                text-align: center;
                cursor: pointer;
                svg{
                    width: 50px;
                    height: 50px;
                    margin: 20px auto 5px auto;
                }
            }
        }
    }
    #representative, #eventfinalist, #prelimsschedule{
        display: none;
    }
    #representative{
        width: min-content;
        margin: 4px auto;
        height: 800px;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }
    #eventfinalist h3{
        width: 60%;
        margin: 30px auto 5px auto;
    }
    .layout{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .accordion{
        width: 60%;
        margin: 15px auto 30px auto;
        transition: 1s ease-in-out;
    }
    .accordion__question{
        width: 100%;
        padding: 10px;
        background: #343a40;
        border-radius: 10px;
        font-family: Verdana;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .img{
            --size: 150px;
            width: var(--size);
            height: var(--size);
            background: mistyrose;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 5px;
            overflow: hidden;
        }
        .body{
            width: 55%;
            user-select: none;
            cursor: pointer;
            p{
                max-height: 100px;
                overflow: hidden;
            }
        }
        .btn{
            height: fit-content;
            margin: auto 0px;
        }
    }
    .accordion__answer p{
        color: grey;
        text-align: justify;
    }
    .accordion__answer{
        display: none;
    }
    .accordion.active .accordion__answer{
        display: block;
    }
    #prelimsschedule{
        width: 80%;
        margin: 30px auto 10px auto;
        text-align: center;
        .flx{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 40px auto;
            div{
                width: 45%;
                background: #343a40;
                border-radius: 5px;
                padding: 10px;
                text-align: left;
                p{
                    color: #fff;
                    strong{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px){
        .flx{
            flex-direction: column;
        }
        .login-option{
            small{
                width: 95%;
            }
            .flx{
                flex-direction: column;
                .card{
                    margin: 10px auto;
                }
            }
        }
        #representative{
            width: 100%;
            canvas{
                width: 100%;
            }
        }
        .layout{
            margin-top: 20px;
        }
        .accordion{
            width: 90%;
        }
        .accordion__question{
            flex-direction: column;
            .img, .body, .btn{
                width: 100%;
            }
            .body{
                margin-top: 10px;
                p{
                    font-size: 11px;
                }
            }
        }
        #prelimsschedule{
            width: 95%;
            .flx{
                flex-direction: column;
                div{
                    width: 95%;
                    margin: 5px auto 20px auto;
                }
            }
        }

    }
</style>
<body class="defult-home">

    <div id="loader" class="loader">
        <div class="loader-container"></div>
    </div>

    <span id="header">
        <%= header %>
    </span>

    <section id="back" class="text-white bg-dark">
        <div onclick="logout();">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg> Back to menu
        </div>
    </section>
    <div id="warning">Please wait, we are set the pdf viewer...</div>
    <section class="login-option">
        <div class="sec-title2 text-center mb-45">
            <h2 class="title">
                Representatives Area
            </h2>
            <div class="heading-line"></div>
            <!-- <small class="text-muted container"><strong>This page is intended for access via QR code only</strong>. Do not share the direct link with anyone, and avoid opening it through your browser history or by typing the URL manually. To maintain privacy and security, always use the QR code to access this page. If you must share it, only share the QR code and only with people you/school trust.</small> -->
        </div>
        <div class="flx">
            <div class="card text-white bg-dark" style="width: 18rem;" onclick="login(1);">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-people card-img-top" viewBox="0 0 16 16">
                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Representatives Profile</h5>
                </div>
            </div>
            <div class="card text-white bg-dark" style="width: 18rem;" onclick="login(2);">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-calendar4-event card-img-top" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Event Finalist</h5>
                </div>
            </div>
            <div class="card text-white bg-dark" style="width: 18rem;" onclick="login(3);">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trophy-fill card-img-top" viewBox="0 0 16 16">
                    <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935"/>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Winners</h5>
                </div>
            </div>
            <div class="card text-white bg-dark" style="width: 18rem;" onclick="login(4);">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-hourglass-split card-img-top" viewBox="0 0 16 16">
                    <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">Prelims Schedule</h5>
                </div>
            </div>
        </div>
    </section>
    <section id="representative"></section>
    <section id="eventfinalist">
        <h3>Events</h3>
        <div class="layout">
            <div class="accordion"> 
                <div class="accordion__question"> 
                    <div class="img" style="background-image: url(/images/eventlist/band.avif);"></div>
                    <div class="body">
                        <h4>Western Band</h4>
                        <p>In 2025, the Calcutta Boys' School proudly presents a spectacular Western Band performance, showcasing precision, rhythm, and musical artistry. The ensemble brings dynamic flair through synchronized instrumentation and rich harmonies, honoring traditions while embracing modern expression. This event highlights the students’ dedication, discipline, and passion for music, setting the stage for an unforgettable evening that celebrates sound, style, and spirited performance in true Western band fashion.</p>
                    </div> 
                    <div class="btn btn-light"><i class="fa fa-plus"></i> See your school</div>
                </div> 
                <div class="accordion__answer"> 
                    <p>
                        No data found for this event!!
                    </p>
                </div> 
            </div>
            <div class="accordion"> 
                <div class="accordion__question"> 
                    <div class="img" style="background-image: url(/images/eventlist/dance.jpg);"></div>
                    <div class="body">
                        <h4>Western Dance</h4>
                        <p>In 2025, the Calcutta Boys’ School presents an electrifying Western Dance showcase, blending style, emotion, and kinetic energy. Students perform contemporary and urban-inspired routines that highlight precision, grace, and rhythmic strength. This event captures the spirit of Western dance—where choreography meets creativity—and reflects the dedication, versatility, and passion of the young performers. A celebration of movement that’s sure to leave the audience inspired and energized.</p>
                    </div> 
                    <div class="btn btn-light"><i class="fa fa-plus"></i> See your school</div>
                </div> 
                <div class="accordion__answer"> 
                    <p>
                        No data found for this event!!
                    </p>
                </div> 
            </div>
            <div class="accordion"> 
                <div class="accordion__question"> 
                    <div class="img" style="background-image: url(/images/eventlist/fashion.avif);"></div>
                    <div class="body">
                        <h4>Fashion Show</h4>
                        <p>In 2025, the Calcutta Boys’ School proudly unveils a captivating Fashion Show celebrating innovation, elegance, and student expression. With bold concepts and inspired styling, young models command the runway with confidence and charisma. The event shines a spotlight on creativity in design, self-presentation, and teamwork—transforming the stage into a canvas of color and imagination. A dazzling celebration of talent and individuality through fashion-forward performance.</p>
                    </div> 
                    <div class="btn btn-light"><i class="fa fa-plus"></i> See your school</div>
                </div> 
                <div class="accordion__answer"> 
                    <p>
                        No data found for this event!!
                    </p>
                </div> 
            </div>
            <div class="accordion"> 
                <div class="accordion__question"> 
                    <div class="img" style="background-image: url(/images/eventlist/acoustic.webp);"></div>
                    <div class="body">
                        <h4>Acoustic Event</h4>
                        <p>In 2025, the Calcutta Boys’ School presents an evocative Acoustic Event, celebrating the power of pure, unplugged sound. Students showcase heartfelt vocals and refined instrumentation in an intimate setting that elevates every note and lyric. This soulful evening highlights musical authenticity, emotional depth, and the art of subtlety, offering an immersive experience where simplicity becomes strength. A harmonious tribute to sound in its most genuine form.</p>
                    </div> 
                    <div class="btn btn-light"><i class="fa fa-plus"></i> See your school</div>
                </div> 
                <div class="accordion__answer"> 
                    <p>
                        No data found for this event!!
                    </p>
                </div> 
            </div>
            <div class="accordion"> 
                <div class="accordion__question"> 
                    <div class="img" style="background-image: url(/images/eventlist/football.jpg);"></div>
                    <div class="body">
                        <h4>Football</h4>
                        <p>In 2025, the Calcutta Boys’ School proudly hosts an exhilarating Football event, igniting the pitch with energy, sportsmanship, and tactical brilliance. Teams clash in a spirited contest that reflects dedication, teamwork, and fierce determination. This event celebrates the essence of the beautiful game—where every goal, pass, and play tells a story of resilience and unity. A thrilling showcase of youth-driven passion and competitive excellence.</p>
                    </div> 
                    <div class="btn btn-light"><i class="fa fa-plus"></i> See your school</div>
                </div> 
                <div class="accordion__answer"> 
                    <p>
                        No data found for this event!!
                    </p>
                </div> 
            </div>
        </div>
    </section>
    <section id="prelimsschedule">
        <h3>CONCORD 2025 PRELIMS SCHEDULE FINAL</h3>
        <div class="flx">
            <div class="left">
                <p>
                    <strong>DATE: 05.07.2025</strong>
                </p>
                <hr>
                <p>
                    EVENT 1: WESTERN BAND (CONVERGE)<br>
                    EVENT 2: WESTERN DANCE (CONFLAGRATION)<br>
                </p>
                <hr>
                <p>
                    REGISTRATION: 08:00 am to 08:30 am<br>
                    WESTERN BAND: 08:30 am to 10.30 am<br>
                    WESTERN DANCE: 10:30 am to 12:30 pm<br>
                </p>
            </div>
            <div class="right">
                <p>
                    <strong>DATE: 07.07.2025</strong>
                </p>
                <hr>
                <p>
                    EVENT 1: ACOUSTIC EVENT (CONSONANCE)<br>
                    EVENT 2: FASHION SHOW (CONJURE)<br>
                    EVENT 3: FOOTBALL (CONSOLIDATE)<br>
                </p>
                <hr>
                <p>
                    REGISTRATION: 08:30  am to 09:30 am<br>
                    ACOUSTIC EVENT: 10:00 am to 11.30 am<br>
                    FASHION SHOW: 11:45 am to 01:00 pm<br>
                    FOOTBALL: 10:00 am to 02:00 pm<br>
                </p>
            </div>
        </div>
    </section>
    
    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <%= footer %>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->

    <!-- jquery latest version -->
    <script src="https://thedriftmedia.com/assets/js/jquery.min.js"></script>
    <!-- Bootstrap v4.4.1 js -->
    <script src="https://thedriftmedia.com/assets/js/bootstrap.min.js"></script>
    <!-- Menu js -->
    <script src="https://thedriftmedia.com/assets/js/rsmenu-main.js"></script>
    <!-- op nav js -->
    <script src="https://thedriftmedia.com/assets/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="https://thedriftmedia.com/assets/js/owl.carousel.min.js"></script>
    <!-- wow js -->
    <script src="https://thedriftmedia.com/assets/js/wow.min.js"></script>
    <!-- main js -->
    <script src="https://thedriftmedia.com/assets/js/main.js"></script>

    <script src="https://thedriftmedia.com/js/jquery-3.3.1.min.js"></script>
    <script src="https://thedriftmedia.com/js/popper.min.js"></script>
    <script src="https://thedriftmedia.com/js/bootstrap.min.js"></script>
    <script src="https://thedriftmedia.com/js/main.js"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js"></script>
<script src="/public/App.js"></script>
<script>
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('rs-footer').innerHTML = document.getElementById('rs-footer').textContent;
    let answers = document.querySelectorAll(".accordion"); 
    answers.forEach((event) => { 
        event.addEventListener("click", () => { 
            if(event.classList.contains("active")){ 
                event.classList.remove("active"); 
            }else{
                event.classList.add("active"); 
            } 
        }); 
    });
    login(4);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>