<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="cbsconcord2025">
    <meta property="og:image" content="../public/logo1500.png" name="og:image">
    <meta itemprop="image" content="https://cbsconcord2025.vercel.app/public/logo1500.png">
    <meta property="og:site_name" content="cbsconcord2025">
    <meta property="twitter:image" content="https://cbsconcord2025.vercel.app/public/favicon.ico">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="cbsconcord2025">
    <meta content="Every great fest carries a story — of #10;
    tradition, of evolution, and of dreams reborn with every #10;
    new edition. For CONCORD 2025, the platform is all set for #10;
    the phoenix to rise again from its ashes. The tagline #10;
    'Legacy Meets Rebirth' is a tribute to the glorious 'Legacy' #10;
    of CONCORD and a celebration of “Rebirth” that fuels its future." lang="en-us" name="description">
    <meta content="cbsconcord2025, Calcutta boys, concord, concord 2025, Calcutta boys fest, school function, event, Mock Mantra" lang="en-us" name="keywords">
    <title version="1.0">cbsconcord</title>
    <meta name="author" content="mockmantra.in">
    <link rel="apple-touch-icon" href="../public/logo1500.png">
    <link rel="icon" href="../public/favicon.ico" sizes="192x192">
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/fonts/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/off-canvas.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="https://thedriftmedia.com/assets/css/rsmenu-main.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/rs-spacing.css" />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <link rel="stylesheet" type="text/css" href="../public/App.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://thedriftmedia.com/assets/css/responsive.css" />
    <link rel="alternate" type="application/rss+xml" title="cbsconcord » Feed" href="https://cbsconcord2025.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="cbsconcord » Comments Feed" href="https://cbsconcord2025.com/comments/feed/">
</head>
<style>
    @font-face {
        font-family: 'Old English 5';
        src: url('../assets/fonts/OldEnglishFive-axyVg.ttf') format('truetype');
    }
    .banner{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 50px auto 20px auto;
        user-select: none;
        .left-banner, .right-banner{
            width: 50%;
        }
    }
    .left-banner{
        padding-top: 2%;
        text-align: center;
        h2{
            font-family: "Old English 5", Sans-serif;
        }
        h1{
            font-family: "Old English 5", Sans-serif;
            background: linear-gradient(50deg, #FF6700 30%, #f3c242 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 70px;
        }
        img{
            width: 40%;
        }
        .social{
            width: 70%;
            display: flex;
            flex-direction: row;
            margin: 10px auto;
            .social_icon{
                width: 35px;
                height: 35px;
                margin-right: 12px;
                background: #f3c242;
                border-radius: 50%;
                cursor: pointer;
                i{
                    font-size: 18px;
                    margin: 8px auto;
                }
            }
            .social_icon:hover{
                background: #fff;
                color: #f3c242;
            }
        }
    }
    .right-banner{
        padding: 10px 0px;
        text-align: center;
        color: #f3c242;
        font-size: 22px;
        font-family: "Old English 5", Sans-serif;
        iframe{
            width: 90%;
            height: 90%;
            margin: 2% 5%;
        }
    }
    .crop-image{
        height: 214px;
        max-width: 30%;
        background: grey;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        padding: 0px;
        margin: 15px 1%;
        img{
            display: none;
        }
    }
    .project-img {
        width: 100%!important;
        height: 350px!important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    @media only screen and (max-width: 900px){
        /* , only screen and (min-width: 900px) and (max-width: 1200px){ */
        .banner{
            flex-direction: column-reverse;
            .left-banner, .right-banner{
                width: 100%;
            }
        }
        .crop-image {
            height: 198px;
            max-width: 95%;
            margin: 15px auto;
        }
        .left-banner{
            h2{
                font-size: 22px;
            }
            h1{
                font-size: 40px;
            }
            img{
                width: 70%;
            }
        }
    }
</style>
<body class="defult-home">
    <div id="loader" class="loader">
        <div class="loader-container"></div>
    </div>
    <span id="header"><%= header %></span>
    <!-- Banner Section Start -->
    <div class="banner">
        <div class="left-banner">
            <h2>Calcutta Boys' School<br>presents</h2>
            <img src="../public/favicon.ico" alt="cbsconcord" width="50"/>
            <h1>Concord 2025</h1>
            <div class="social">
                <div class="social_icon" onclick="route('https:/\/www.youtube.com/channel/UCZoRJnyObx7S94WBtxeN3Gw')"><i class="fa fa-youtube-play"></i></div>
                <div class="social_icon" onclick="route('https:/\/www.instagram.com/concord.2k25?igsh=Y3I5MTB1Y254eGls')"><i class="fa fa-instagram"></i></div>
            </div>
        </div>
        <div class="right-banner">
            <div class="video-head">Rewind to Concord 2024</div>
            <iframe src="https://www.youtube.com/embed/8PBGUqZkyhY?si=jG46UiNOYQogAHPc?playlist=8PBGUqZkyhY?si=jG46UiNOYQogAHPc&loop=1&autoplay=1&modestbranding=1&controls=1&mute=1&rel=0" frameborder="0" class="video" title="Welcome to the Concord 2025" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; loop"
            allowfullscreen></iframe>
        </div>
    </div>
    <!-- <div class="rs-banner main-home pt-100 md-pt-80 md-pb-80">
        <div class="frame-container">
            <iframe width="100%" height="315"
                src="https://www.youtube.com/embed/8PBGUqZkyhY?si=jG46UiNOYQogAHPc?playlist=8PBGUqZkyhY?si=jG46UiNOYQogAHPc&loop=1&autoplay=1&modestbranding=1&controls=0&mute=1&rel=0"
                title="Welcome to the Concord 2025" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div> -->
    <!-- Banner Section End -->
    <!-- Memories Section Start -->
    <div class="rs-services main-home pt-120 pb-120 md-pt-70 md-pb-70">
        <div class="container">
            <div class="sec-title2 text-center mb-45">
                <h2 class="title">
                    Gallery
                </h2>
                <div class="heading-line"></div>
            </div>
            <div class="image-gallary">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/1.JPG" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/2.jpg" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/3.JPG" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/4.jpg" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/5.JPG" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/6.JPG" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/7.JPG" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/8.JPG" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/9.JPG" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 crop-image" onclick="route('/gallery')">
                        <image src="../images/FIRST 10 PREVIEW/10.JPG" alt="cbsconcord"/>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-25 viewMore crop-image" onclick="route('/gallery')">
                        <image src="../images/1.JPG" alt="cbsconcord"/>
                        <div class="center">40+<br>View More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section Start -->
    <div class="rs-services main-home pt-120 pb-120 md-pt-70 md-pb-70">
        <div class="container">
            <div class="sec-title2 text-center mb-45">
                <h2 class="title">
                    Experience the oldest fest
                </h2>
                <div class="heading-line"></div>
                <p class="text-white">Every year, Concord, the biggest fest hosted by the United Students' Organization ( USO )of Calcutta Boys' School, brings together the energy and creativity of students from all over. It's a vibrant celebration where talent meets passion across academics, arts, sports, and culture!
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-25" onclick="route('/gallery')">
                    <div class="services-item">
                        <div class="services-icon">
                            <div class="image-part">
                                <svg aria-hidden="true" class="e-font-icon-svg e-fas-guitar" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M502.63 39L473 9.37a32 32 0 0 0-45.26 0L381.46 55.7a35.14 35.14 0 0 0-8.53 13.79L360.77 106l-76.26 76.26c-12.16-8.76-25.5-15.74-40.1-19.14-33.45-7.78-67-.88-89.88 22a82.45 82.45 0 0 0-20.24 33.47c-6 18.56-23.21 32.69-42.15 34.46-23.7 2.27-45.73 11.45-62.61 28.44C-16.11 327-7.9 409 47.58 464.45S185 528 230.56 482.52c17-16.88 26.16-38.9 28.45-62.71 1.76-18.85 15.89-36.13 34.43-42.14a82.6 82.6 0 0 0 33.48-20.25c22.87-22.88 29.74-56.36 22-89.75-3.39-14.64-10.37-28-19.16-40.2L406 151.23l36.48-12.16a35.14 35.14 0 0 0 13.79-8.53l46.33-46.32a32 32 0 0 0 .03-45.22zM208 352a48 48 0 1 1 48-48 48 48 0 0 1-48 48z"></path></svg>
                            </div>
                        </div>
                        <div class="services-content">
                            <div class="services-text">
                                <h3 class="services-title">
                                    <a href="">
                                        35+ events
                                    </a>
                                </h3>
                            </div>
                            <div class="services-desc">
                                <p>
                                    Got the vision of M.F. Husain, the eye of Steve McCurry, or the pen of Ruskin Bond? Then Concord 2025 is your stage! With over 35 exciting events, this is your time to shine and soar like the Phoenix!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-25" onclick="route('/gallery')">
                    <div class="services-item">
                        <div class="services-icon">
                            <div class="image-part">
                                <svg aria-hidden="true" class="e-font-icon-svg e-fas-street-view" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M367.9 329.76c-4.62 5.3-9.78 10.1-15.9 13.65v22.94c66.52 9.34 112 28.05 112 49.65 0 30.93-93.12 56-208 56S48 446.93 48 416c0-21.6 45.48-40.3 112-49.65v-22.94c-6.12-3.55-11.28-8.35-15.9-13.65C58.87 345.34 0 378.05 0 416c0 53.02 114.62 96 256 96s256-42.98 256-96c0-37.95-58.87-70.66-144.1-86.24zM256 128c35.35 0 64-28.65 64-64S291.35 0 256 0s-64 28.65-64 64 28.65 64 64 64zm-64 192v96c0 17.67 14.33 32 32 32h64c17.67 0 32-14.33 32-32v-96c17.67 0 32-14.33 32-32v-96c0-26.51-21.49-48-48-48h-11.8c-11.07 5.03-23.26 8-36.2 8s-25.13-2.97-36.2-8H208c-26.51 0-48 21.49-48 48v96c0 17.67 14.33 32 32 32z"></path></svg>
                            </div>
                        </div>
                        <div class="services-content">
                            <div class="services-text">
                                <h3 class="services-title">
                                    <a href="">5000+ audience</a>
                                </h3>
                            </div>
                            <div class="services-desc">
                                <p>
                                    Get ready to witness a tidal wave of spirit, creativity, and enthusiasm! Concord 2025 is calling you — be part of an electrifying 5000+ audience on the (8th, 9th, and 10th of July ) , and celebrate the unstoppable energy of Kolkata’s youth! 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-25" onclick="route('/gallery')">
                    <div class="services-item">
                        <div class="services-icon">
                            <div class="image-part">
                                <svg aria-hidden="true" class="e-font-icon-svg e-fas-school" viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 224v272c0 8.84 7.16 16 16 16h80V192H32c-17.67 0-32 14.33-32 32zm360-48h-24v-40c0-4.42-3.58-8-8-8h-16c-4.42 0-8 3.58-8 8v64c0 4.42 3.58 8 8 8h48c4.42 0 8-3.58 8-8v-16c0-4.42-3.58-8-8-8zm137.75-63.96l-160-106.67a32.02 32.02 0 0 0-35.5 0l-160 106.67A32.002 32.002 0 0 0 128 138.66V512h128V368c0-8.84 7.16-16 16-16h96c8.84 0 16 7.16 16 16v144h128V138.67c0-10.7-5.35-20.7-14.25-26.63zM320 256c-44.18 0-80-35.82-80-80s35.82-80 80-80 80 35.82 80 80-35.82 80-80 80zm288-64h-64v320h80c8.84 0 16-7.16 16-16V224c0-17.67-14.33-32-32-32z"></path></svg>
                            </div>
                        </div>
                        <div class="services-content">
                            <div class="services-text">
                                <h3 class="services-title">
                                    <a href="">25+ schools</a>
                                </h3>
                            </div>
                            <div class="services-desc">
                                <p>
                                    Competition, camaraderie, and unstoppable energy — that’s Concord 2025! With 25+ schools and thousands of powerhouse participants, get ready for an unforgettable clash of talents. See you there!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section End -->
    <!-- Project Section Start -->
    <div class="rs-project bg5 style1 pt-110 md-pt-80 mb-40">
        <div class="container">
            <div class="sec-title2 text-center mb-45 md-mb-30">
                <h2 class="title white-color">
                    Event list
                </h2>
            </div>
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true"
                data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false"
                data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
                data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2"
                data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2"
                data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3"
                data-md-device-nav="true" data-md-device-dots="false">
                <div class="project-item" onclick="route('/events?event=onStageEvents');">
                    <div class="project-img">
                        <a href="/events?event=onStageEvents"><img src="https://cbsconcord2024.com/wp-content/uploads/2021/06/events-2-2.jpg"
                                alt="images" /></a>
                    </div>
                    <div class="project-content">
                        <h3 class="title">
                            <a href="/events?event=onStageEvents">On-stage events</a>
                        </h3>
                    </div>
                </div>
                <div class="project-item" onclick="route('/events?event=offStageEvents');">
                    <div class="project-img">
                        <a href="/events?event=offStageEvents"><img
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/05/1544472499283.jpeg" alt="images" /></a>
                    </div>
                    <div class="project-content">
                        <h3 class="title">
                            <a href="/events?event=offStageEvents">Off-stage events</a>
                        </h3>
                    </div>
                </div>
                <div class="project-item" onclick="route('/events?event=fieldEvents')">
                    <div class="project-img">
                        <a href="/events?event=fieldEvents"><img
                                src="https://cbsconcord2024.com/wp-content/uploads/2024/05/istockphoto-1153130310-612x612-1.jpg" alt="images" /></a>
                    </div>
                    <div class="project-content">
                        <h3 class="title">
                            <a href="/events?event=fieldEvents">Field events</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="btn-part" style="margin: 10px 45%; width: max-content;">
                <a class="readon learn-more contact-us" style="margin-bottom: 40px;" href="/events?event=all">All Events</a>
            </div>
        </div>
    </div>
    <!-- About Start -->
    <div class="rs-services main-home pt-120 pb-120 md-pt-70 md-pb-70">
        <div class="container">
            <div class="sec-title2 text-center mb-45 md-mb-30">
                <h2 class="title white-color">
                    About Us
                </h2>
                <div class="heading-line"></div>
            </div>
            <div class="flip-card-list">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                        </svg>
                        <h5>Calcutta Boys’ School - Committed to the Youth of the Nation</h5>
                      </div>
                      <div class="flip-card-back">
                        <p>At Calcutta Boys' School, Kolkata, a century-old institution of academic
                            brilliance and holistic development, the spirit of youth empowerment beats
                            strongly in every corner.</p> 
                        <div class="btn btn-secondary" onclick="route('/about');">Learrn More</div>
                      </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                        </svg>
                        <h5>CONCORD 2024 — A Success Story</h5>
                      </div>
                      <div class="flip-card-back">
                        <p> The 42nd edition of CONCORD, held from July 3rd to July 5th, 2024, was
                            nothing short of spectacular.</p> 
                        <div class="btn btn-secondary" onclick="route('/about');">Learrn More</div>
                      </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                        </svg>
                        <h5>Tagline of CONCORD 2025 — "Legacy Meets Rebirth" </h5>
                      </div>
                      <div class="flip-card-back">
                        <p>Every great fest carries a story — of tradition, of evolution, and of dreams
                            reborn with every new edition.</p> 
                        <div class="btn btn-secondary" onclick="route('/about');">Learrn More</div>
                      </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                            <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                        </svg>
                        <h5>Theme of CONCORD 2025 — "Rise Beyond Limits"</h5>
                      </div>
                      <div class="flip-card-back">
                        <p>CONCORD 2025 is more than just a fest — it's a clarion call to break
                            barriers, challenge norms, and unlock one's full potential.</p> 
                        <div class="btn btn-secondary" onclick="route('/about');">Learrn More</div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Event Start -->
    <div class="rs-services main-home pt-120 pb-120 md-pt-70 md-pb-70">
        <div class="container">
            <div class="sec-title2 text-center mb-45">
                <h2 class="title">
                    Event Time line
                </h2>
                <div class="heading-line"></div>
            </div>
            <div class="elementor-element elementor-element-5383598 e-flex e-con-boxed wpr-particle-no wpr-jarallax-no wpr-parallax-no wpr-sticky-section-no e-con e-parent e-lazyloaded"
                data-id="5383598" data-element_type="container">
                <div class="e-con-inner">
                    <div class="elementor-element elementor-element-3a0a24d elementor-widget elementor-widget-accordion"
                        data-id="3a0a24d" data-element_type="widget" data-widget_type="accordion.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-accordion">
                                <div class="elementor-accordion-item" id="event-day-1" style="margin-bottom: 20px;">
                                    <div id="elementor-tab-title-6081" onclick="unfoldeEvent(1);route('/#event-day-1');" class="elementor-tab-title elementor-active" data-tab="1"
                                        role="button" aria-controls="elementor-tab-content-6081" aria-expanded="true" tabindex="0"
                                        aria-selected="true">
                                        <!-- <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                            <span class="elementor-accordion-icon-closed"><svg class="e-font-icon-svg e-fas-plus"
                                                    viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                                                    </path>
                                                </svg></span>
                                            <span class="elementor-accordion-icon-opened"><svg class="e-font-icon-svg e-fas-minus"
                                                    viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                                                    </path>
                                                </svg></span>
                                        </span> -->
                                        <a class="elementor-accordion-title" tabindex="0">Day 1 (8th July, 2025)</a>
                                    </div>
                                    <div id="elementor-tab-content-6081"
                                        class="elementor-tab-content elementor-clearfix elementor-active" data-tab="1" role="region"
                                        aria-labelledby="elementor-tab-title-6081" style="display: block;">
                                        <p><strong>Registration:</strong> 08:00AM to 09:00AM</p>
                                        <p><strong>Basketball Registration:</strong> 08:00AM to 09:00AM</p>
                                        <p>Venue: Reception</p>
                                        <p>Events: On-stage</p>
                                        <ul>
                                            <li>Inauguration Ceremony (09:00AM to 10:30AM)</li>
                                            <li>Acoustic Event (11:00AM to 12:30PM) </li>
                                            <li>Fan Fiction Drama (01:00PM to 03:30PM)</li>
                                            <li>Day 1 Closing Ceremony (03:30PM to 04:00PM)</li>
                                            <li>Venue: Chapel Hall</li>
                                        </ul>
                                        <p>Off-stage events</p>
                                        <ul>
                                            <li>Pretentious Movie Review (10:00AM to 12:00PM), Venue: Lounge</li>
                                            <li>Robotics (10:00AM to 12:0PM), Venue: Biology Lab</li>
                                            <li>Poster Making (10:00AM to 12:00PM), Venue: VIII B</li>
                                            <li>Quiz Prelims (10:00AM to 12:00PM), Venue: XI Commerce</li>
                                            <li>Dance Face-off (10:00AM to 12:00PM), Venue: XII Commerce</li>
                                            <li>Console gaming (12:00PM to 02:00PM), Venue: VIII C</li>
                                            <li>Squid Game (10:00AM to 03:00PM), Venue: X D</li>
                                            <li>Quiz Finals (01:00PM to 03:00PM), Venue: Lounge</li>
                                        </ul>
                                        <p>  Field events</p>
                                        <ul>
                                            <li>Basketball (09:00AM to 02:00PM), Venue: Basketball Court</li>
                                            <li>Tug of War (Girls) (12:00PM to 01:30PM), Venue: Field</li>
                                            <li>Tug of War (Boys) (02:30PM to 04:00PM), Venue: Field</li>
                                        </ul>
                                        <p>Online events</p>
                                        <ul>
                                            <li>Debate (12:00PM to 02:00PM), Venue: Sr Computer Lab</li>
                                            <li>Valorant (12:00PM to 02:00PM), Venue: Discord</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="elementor-accordion-item" id="event-day-2" style="margin-bottom: 20px;">
                                    <div id="elementor-tab-title-6082" onclick="unfoldeEvent(2);route('/#event-day-2');" class="elementor-tab-title" data-tab="2" role="button"
                                        aria-controls="elementor-tab-content-6082" aria-expanded="false">
                                        <!-- <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                            <span class="elementor-accordion-icon-closed"><svg class="e-font-icon-svg e-fas-plus"
                                                    viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                                                    </path>
                                                </svg></span>
                                            <span class="elementor-accordion-icon-opened"><svg class="e-font-icon-svg e-fas-minus"
                                                    viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                                                    </path>
                                                </svg></span>
                                        </span> -->
                                        <a class="elementor-accordion-title" tabindex="0">Day 2 (9th July, 2025)</a>
                                    </div>
                                    <div id="elementor-tab-content-6082" class="elementor-tab-content elementor-clearfix"
                                        data-tab="2" role="region" aria-labelledby="elementor-tab-title-6082">
                                        <p><strong>Registration:</strong> 08:00AM to 09:00AM</p>
                                        <p><strong>Football Registration:</strong> 08:30AM to 09:00AM</p>
                                        <p>Venue: Reception</p>
                                        <p>Events: On-stage</p>
                                        <ul>
                                            <li>Antakshari (09:00AM to 10:30AM)</li>
                                            <li>Devotional Choir (11:00AM to 12:30AM)</li>
                                            <li>Instrumental (01:00PM to 02:00PM)</li>
                                            <li>Eastern Music (02:30PM to 04:00PM)</li>
                                            <li>Day 2 Closing Ceremony (04:00PM to 04:30PM)</li>
                                            <li>Venue: Chapel Hall</li>
                                        </ul>
                                        <p>Off-Stage events</p>
                                        <ul>
                                            <li>Visual Poetry Slam (09:00AM to 11:00AM), Venue: X A</li>
                                            <li>IPL Auction (10:00AM to 03:00PM), Venue: Lounge</li>
                                            <li>Coding Jam (10:00AM to 11:30AM), Venue: Computer Lab</li>
                                            <li>Photography (10:00AM to 11:30PM), Venue: VIII A</li>
                                            <li>Terribly Tiny Tales (10:00AM to 12:00PM), Venue: X B</li>
                                            <li>Moot Court (10:00AM to 02:00PM), Venue: XII Commerce</li>
                                            <li>Graphics Designing (11:30AM to 02:00PM), Venue: IX A</li>
                                            <li>Turn Coat (01:00PM to 03:00PM), Venue: VIII C</li>
                                            <li>Non-Fire Cooking (12:00PM to 02:00PM), Venue: XI Science</li>
                                            <li>Multimedia Videography (02:00PM to 03:00PM), Venue: VIII B</li>
                                            <li>Comic Strip (01:00PM to 03:00PM), Venue: IX B</li>
                                            <li>Blogging Contest (11:00AM to 12:00PM), Venue: IX D</li>
                                            <li>Chess (01:30PM to 03:30PM), Venue: IX C</li>
                                        </ul>
                                        <p>Field events</p>
                                        <ul>
                                            <li>Football (09:00AM to 04:00PM)</li>
                                            <li>Venue: Field</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="elementor-accordion-item" id="event-day-3" style="margin-bottom: 20px;">
                                    <div id="elementor-tab-title-6083" onclick="unfoldeEvent(3);route('/#event-day-3');" class="elementor-tab-title" data-tab="3" role="button"
                                        aria-controls="elementor-tab-content-6083" aria-expanded="false">
                                        <!-- <span class="elementor-accordion-icon elementor-accordion-icon-left" aria-hidden="true">
                                            <span class="elementor-accordion-icon-closed"><svg class="e-font-icon-svg e-fas-plus"
                                                    viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                                                    </path>
                                                </svg></span>
                                            <span class="elementor-accordion-icon-opened"><svg class="e-font-icon-svg e-fas-minus"
                                                    viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                                                    </path>
                                                </svg></span>
                                        </span> -->
                                        <a class="elementor-accordion-title" tabindex="0">Day 3 (10th July, 2025)</a>
                                    </div>
                                    <div id="elementor-tab-content-6083" class="elementor-tab-content elementor-clearfix"
                                        data-tab="3" role="region" aria-labelledby="elementor-tab-title-6083">
                                        <p>Venue: Kala Mandir</p>
                                        <p>Events: –</p>
                                        <ul>
                                            <li>Wastern Dance (10:00AM to 11:30AM)</li>
                                            <li>Fashion Show (12:00PM to 01:30PM)</li>
                                        </ul>
                                        <p>Break (01:30PM to 03:30PM)</p>
                                        <ul>
                                            <li>Western Band (03:30PM to 04:45PM)</li>
                                            <li>DJ Event (05:15PM to 06:00PM)</li>
                                            <li>Prize Distribution (06:30PM to 06:30PM)</li>
                                            <li>Guest Performance (06:30PM to 07:30PM)</li>
                                        </ul>
                                    </div>
                                </div>
                                <script
                                    type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"Day 1 (3rd July, 2024)","acceptedAnswer":{"@type":"Answer","text":"<p><strong>Registration:<\/strong> 08:00AM to 09:00AM<\/p><p><strong>Basketball Registration:<\/strong> 08:00AM to 09:00AM<\/p><p>Venue: Reception<\/p><p>Events: On-stage<\/p><ul><li>Inauguration Ceremony (09:00AM to 10:30AM)\u00a0 \u00a0 \u00a0 \u00a0\u00a0<\/li><li>Devotional Choir (11:00AM to 12:30PM)\u00a0 \u00a0<\/li><li>Acoustic Event (01:00PM to 02:30PM)\u00a0<\/li><\/ul><p>Off-stage events<\/p><ul><li>Pretentious Movie Review (10:00AM to 12:00PM)\u00a0<\/li><li>Science Project Making (10:00AM to 12:0PM)<\/li><li>Reel Making (10:00AM to 12:00PM)\u00a0<\/li><li>Quiz Prelims (10:00AM to 12:00PM)<\/li><li>Dance Face-off (10:00AM to 12:00PM)\u00a0<\/li><li>Console gaming (12:00PM to 02:00PM)<\/li><li>Tresure Hunt (12:30PM to 02:00PM)<\/li><li>Non-fire Cooking (12:00PM to 02:00PM)<\/li><li>Quiz Finals (02:00PM to 03:30PM)\u00a0 \u00a0 \u00a0 \u00a0 \u00a0 \u00a0<\/li><\/ul><p>\u00a0 \u00a0 Field events<\/p><ul><li>Basketball (09:00AM to 02:00PM)<\/li><li>Tug of War (Girls) (12:00PM to 01:30PM)<\/li><li>Tug of War (Boys) (02:00PM to 04:00PM)<\/li><\/ul><p>Online events<\/p><ul><li>Debate (10:00AM to 01:00PM)<\/li><li>BGMI (12:00PM to 02:00PM)<\/li><\/ul>"}},{"@type":"Question","name":"Day 2 (4th July, 2024)","acceptedAnswer":{"@type":"Answer","text":"<p><strong>Registration:<\/strong> 08:00AM to 09:00AM<\/p><p><strong>Football Registration:<\/strong> 08:30AM to 09:00AM<\/p><p>Venue: Reception<\/p><p>Events: On-stage<\/p><ul><li>Antakshari (09:00AM to 10:30AM)<\/li><li>Fan Fiction Drama (11:00AM to 01:30AM)<\/li><li>Eastern Music (02:30PM to 04:00PM)<\/li><\/ul><p>Off-Stage events<\/p><ul><li>Visual Poetry Slam (09:00AM to 11:00AM)<\/li><li>Poster Making (10:00AM to 12:30PM)<\/li><li>IPL Auction (10:00AM to 03:00PM)<\/li><li>Coding Jam (10:00AM to 11:30AM)<\/li><li>Photography (10:00AM to 12:00PM)<\/li><li>Terribly Tiny Tales (10:00AM to 12:00PM<\/li><li>Moot Court (10:00AM to 02:00PM)<\/li><li>Rubik&#8217;s Cube (11:00AM to 12:30PM)<\/li><li>Beatboxing (12:00PM to 02:30PM)<\/li><li>Graphics Designing (11:30AM to 02:00PM)<\/li><li>Turn Coat (01:00PM to 03:00PM)<\/li><li>Comic Strip (01:00PM to 03:00PM)<\/li><li>Blogging Contest (11:00AM to 12:00PM)<\/li><li>Chess (01:30PM to 03:30PM)<\/li><\/ul><p>Field events<\/p><ul><li>Football (09:00AM to 04:00PM)<\/li><\/ul>"}},{"@type":"Question","name":"Day 3 (5th July, 2024)","acceptedAnswer":{"@type":"Answer","text":"<p>Venue: Kala Mandir<\/p><p>Events: &#8211;<\/p><ul><li>Wastern Dance (10:00AM to 11:30AM)\u00a0<\/li><li>Fashion Show (12:00PM to 01:30PM)<\/li><\/ul><p>Break<\/p><ul><li>Western Band (03:30PM to 05:00PM)<\/li><li>Prize Distribution (05:30PM to 06:30PM)<\/li><li>Guest Performance (07:00PM to 08:00PM)<\/li><\/ul>"}}]}</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event End -->
    <!-- Partner Start -->
    <!-- <div class="rs-partner pt-80 pb-70">
        <div class="container">
            <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true"
                data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false"
                data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="2"
                data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3"
                data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2"
                data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5"
                data-md-device-nav="false" data-md-device-dots="false">
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096495.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096495.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096496.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096496.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096497.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096497.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096498.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096498.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096499.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096499.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096501.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096501.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096500.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096500.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096502.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096502.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096504.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096504.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096505.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096505.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096507.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-48096507.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new1.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="partner-item">
                    <div class="logo-img">
                        <a href="/">
                            <img class="hover-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new2.png" alt="" />
                            <img class="main-logo" src="https://cbsconcord2024.com/wp-content/uploads/2024/06/Frame-new2.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Partner End -->

    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <%= footer %>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->

    <!-- Search Modal Start -->
    <div class="modal fade search-modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel"
        aria-hidden="true">
        <i class="flaticon-location"></i>

        <button type="button" class="close" data-bs-dismiss="modal">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->

    <!-- modernizr js -->
    <script src="https://thedriftmedia.com/assets/js/modernizr-2.8.3.min.js"></script>
    <!-- jquery latest version -->
    <script src="https://thedriftmedia.com/assets/js/jquery.min.js"></script>
    <!-- Bootstrap v4.4.1 js -->
    <script src="https://thedriftmedia.com/assets/js/bootstrap.min.js"></script>
    <!-- Menu js -->
    <script src="https://thedriftmedia.com/assets/js/rsmenu-main.js"></script>
    <!-- op nav js -->
    <script src="https://thedriftmedia.com/assets/js/jquery.nav.js"></script>
    <!-- owl.carousel js -->
    <script src="https://thedriftmedia.com/assets/js/owl.carousel.min.js"></script>
    <!-- wow js -->
    <script src="https://thedriftmedia.com/assets/js/wow.min.js"></script>
    <!-- Skill bar js -->
    <script src="https://thedriftmedia.com/assets/js/skill.bars.jquery.js"></script>
    <script src="https://thedriftmedia.com/assets/js/jquery.counterup.min.js"></script>
    <!-- counter top js -->
    <script src="https://thedriftmedia.com/assets/js/waypoints.min.js"></script>
    <!-- swiper js -->
    <script src="https://thedriftmedia.com/assets/js/swiper.min.js"></script>
    <!-- particles js -->
    <script src="https://thedriftmedia.com/assets/js/particles.min.js"></script>
    <!-- magnific popup js -->
    <script src="https://thedriftmedia.com/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- plugins js -->
    <script src="https://thedriftmedia.com/assets/js/plugins.js"></script>
    <!-- pointer js -->
    <script src="https://thedriftmedia.com/assets/js/pointer.js"></script>
    <!-- contact form js -->
    <script src="https://thedriftmedia.com/assets/js/contact.form.js"></script>
    <!-- appointment form js -->
    <script src="https://thedriftmedia.com/assets/js/appointment.form.js"></script>
    <!-- main js -->
    <script src="https://thedriftmedia.com/assets/js/main.js"></script>

    <script src="https://thedriftmedia.com/js/jquery-3.3.1.min.js"></script>
    <script src="https://thedriftmedia.com/js/popper.min.js"></script>
    <script src="https://thedriftmedia.com/js/bootstrap.min.js"></script>
    <script src="https://thedriftmedia.com/js/main.js"></script>
</body>
<script src="../public/App.js"></script>
<script>
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('rs-footer').innerHTML = document.getElementById('rs-footer').textContent;
    // document.body.scrollTop = 150; // For Safari
    // document.documentElement.scrollTop = 150;
    function setGallary(){
        let imgbin = document.querySelectorAll('.crop-image');
        for(let i=0; i<imgbin.length; i++){
            imgbin[i].style.backgroundImage = `url(${imgbin[i].childNodes[1].src})`;
        }
    }
    setGallary();
    function setEvents(){
        let box = document.querySelectorAll('.project-img');
        for(let i=0; i<box.length; i++){
            box[i].style.backgroundImage = `url('${box[i].childNodes[1].childNodes[0].src}')`;
            box[i].childNodes[1].childNodes[0].style.display = "none";
        }
    }
    setEvents();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>