<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Cbconcord 25">
    <meta property="og:image" content="../images/side-img.png" name="og:image">
    <title version="1.0">Not found - cbconcord</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="icon" href="../public/favicon.ico"/>
</head>
<style>
    body{
        overflow: hidden!important;
        background: #000;
        color: aliceblue;
        background-image: url('../images/404bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        padding-top: 20%;
        height: 100vh;
        width: 100vw;
    }
    h1{
        text-align: center;
        color: #f3c242;
    }
    h4{
        text-align: center;
    }
</style>
<body>
    <section class="container" id="e404">
        <h1><%= error %>!</h1>
        <h4><%= message %></h4>
    </section>
</body>
<script src="../public/App.js"></script>
</html>